/*
this is the color pallet i would recomend:
https://colorhunt.co/palette/001f3f0833580d63a5ffd717
yellow from javascript: fcc727
blue 

*/
body {
    font-family: 'Monolisa', sans-serif;
    margin: 20px;
}
.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.column {
    width: 45%;
}
.edit-button, .search-button, .copy-button {
    cursor: pointer;
}
.result, .formula, .final-password {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}
.divider {
    text-align: center;
    font-size: 20px;
}
.modifier-list, .variable-list {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}
.actions {
    margin-top: 10px;
}