/*
this is the color pallet i would recomend:
https://colorhunt.co/palette/001f3f0833580d63a5ffd717
yellow from javascript: fcc727
blue 

*/
body {
    font-family: 'Monolisa', sans-serif;
    margin: 20px;
}




/* This is for the text input) */
input[type="text"] {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.green-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
}

.green-button:hover {
    background-color: darkgreen;
}